%ul
  - @entries.each do |date, users|
    %li
      Date:
      = date
      - users.each do |user, entries|
        %ul
          - unless current_user.regular?
            %li
              User:
              = entries.first.user.email
              %ul
                %li
                  Total time:
                  = number_with_precision(entries.sum(&:hours), precision: 2, strip_insignificant_zeros: true) + 'h'
                %li
                  Notes:
                  %ul
                    - entries.each do |entry|
                      %li= entry.note
          - else
            %li
              Total time:
              = entries.sum(&:hours)
            %li
              Notes:
              %ul
                - entries.each do |entry|
                  %li= entry.note

