!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %title Toptal
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body{'ng-app' => 'Toptal', 'ng-controller' => 'ApplicationController'}
    %header.nav.navbar.navbar-fixed-top.navbar-default{'ng-show' => 'current_user.id'}
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-controls" => "bs-navbar", "aria-expanded" => "false", "data-target" => "nav.navbar-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to Toptal, '/#/', class: 'navbar-brand'
        %nav.collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-right{'ng-show' => 'current_user'}
            %li{'ng-show' => "current_user.role && current_user.role != 'regular'"}
              %a{'ng-href': '/#/users', target: '_self'} Users
            %li.dropdown
              = link_to '', class: 'dropdown-toggle', 'data-toggle': 'dropdown' do
                {{current_user.email}}
                %span.caret
              %ul.dropdown-menu
                %li
                  %a{'ng-href': "/#/profile/edit"} Settings
                  %a{'ng-href': "#", 'ng-click' => 'sign_out()'} Sign out
          %ul.nav.navbar-nav.navbar-right{'ng-hide' => 'current_user'}
            %li= link_to 'Sign in', '/#/sessions/new'
    .container
      %ng-view{'ng-show' => 'current_user || ready'}